# MongoDB Atlas connection string
# Formato: mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<database>?appName=<app>
MONGODB_CONNECTION_STRING=mongodb+srv://user:password@cluster.mongodb.net/catalogo_eventos?appName=pjbl-cluster

# Azure SQL connection string
# Formato ADO.NET para Azure SQL Database
AZURE_SQL_CONNECTION_STRING=Server=tcp:<server>.database.windows.net,1433;Initial Catalog=pedidos_db;User ID=<user>;Password=<password>;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;

# Azure Function URL (deployada no Azure)
AZURE_FUNCTION_URL=https://<function-app>.azurewebsites.net
